* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.nav-title {
    font-weight: 800;
    font-size: 45px;
}

nav {
    display: flex;
    justify-content: space-between;
    margin: 51px 227px;
    align-items: center;
}

.text-primary {
    color: #FD6E0A;
}

nav ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin: 51px;
}

.btn-primary {
    background-color: #FD6E0A;
    border-radius: 5px;
    padding: 18px 35px;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 700;
    border: 0;
}

.banner {
    margin: 0px 200px;
    display: flex;

}

.banner-sub-title {
    font-weight: 600;
    font-size: 45px;
    color: #474747;
}

.banner-title {
    font-weight: 700;
    font-size: 85px;
    padding-bottom: 20px;
}

.banner-description {
    font-size: 18px;
    color: #757575;
    padding-bottom: 30px;
}

.header{
    background: #FFF8F3;
    background-image: url(../images/header_bg.png), url(../images/developer.png);
    background-repeat: no-repeat;
    background-position: right bottom, left;

}

/* About section style */
.about-me{
    text-align: center;
    background-color: #FFF8F3;
    border-radius: 10px;
    margin: 230px;
    padding: 131px 156px;
}
.section-title{
    font-size: 35px;
    padding: 30px;
}
.section-description{
    font-size: 18px;
    color: #757575;
}
