*{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
.nav-title {
    font-weight: 800;
    font-size: 45px;
}
nav{
    display: flex;
    justify-content: space-between;
    margin: 51px 227px;
}

.text-primary {
    color: #FD6E0A;
}

nav ul {
    display: flex;
}

nav li {
    list-style: none;
    margin: 51px;
}